@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');
@import 'tailwindcss';

@theme {
    --font-minecraft: Metamorphous , "sans-serif";
}
html,
body,
#root {
  min-height: 100%;
  width: 100%;
  background-color: hsl(280, 26%, 9%);
}

body {
  overflow-x: hidden;
}